@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "mixins.scss";
@import "buttons.scss";

$primary-color: #e91e63;

body {
    font-family: 'Roboto';
    background-color: #eee;
}

.alert {
	text-align: left;
}

.welcome {
	font-weight: 100;
	text-align: center;
	width: 100%;
	height: 100vh;
	background-image: url('/images/welcome-background.jpg');
	background-size: cover;
	background-position: center center;
	background-color: $primary-color;
	@include preserve-3d;
	.container {
		@include vertical-align;
	}
	.title {
	    font-size: 36px;
	    margin-bottom: 20px;
	}
	a {
		color: black;
		font-size: 14px;
		text-decoration: underline;
	}
	.form-register {
	    margin-top: 40px;
	}
	input[type="email"], input[type="password"], input[type="text"] {
		font-size: 15px;
		height: 45px;
	}
	.form-group {
		border: 0px;
		box-shadow: none;
	}
}

.navbar {
	background-color: $primary-color;
	border: none;
	margin-bottom: 0px;
	border-radius: 0px;
}

.navbar a {
	font-size: 14px;
	color: #212121;
}

.navbar-right {
    float: right;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

.tab {
    float: left;
    padding: 15px 0px;
    line-height: 20px;
    height: 50px;
    width: 33.333%;
    text-align: center;
}

.tab.active {
    border-bottom: 4px solid white;
}

.progress-metric {
	float: right;
	font-size: 16px;
	font-weight: 800;
}

.card {
	background-color: white;
	margin-bottom: 15px;
	font-weight: 300;
	font-size: 12px;
	.header {
		background-color: $primary-color;
	}
}

.material-icons.back-icon {
    float: left;
    font-size: 20px;
    margin-right: 10px;
}

.settings {
	margin-top: 20px;
	#quit_date {
		padding-left: 50px;
	}
	.settings-field {
	    text-align: center;
	    width: 100%;
	    font-size: 18px;
	    padding: 10px;
	    border: 0px;
	}
	label {
    	margin-bottom: 0;
    	padding: 10px 15px;
    }
    .settings-submit {
    	text-align: center;
    }
    .dollar-sign {
        text-align: left;
        font-size: 18px;
        padding: 10px 10px 10px 20px;
        position: absolute;
    }
}

.home {
    background-color: white;
    padding: 30px 20px;
    margin-bottom: 20px;
}

.stat {
	display: inline-block;
	border-left: 1px solid #EEE;
	text-transform: uppercase;
	font-weight: 100;
	font-size: 30px;
	line-height: 1;
	padding-left: 15px;
	margin-bottom: 25px;
	margin-right: 5%;
	.description {
		font-size: 14px;
	}
	.metric {
		font-weight: 600;
	}
}

.stat:last-child {
	margin-bottom: 0px;
}

.main-stat {
	display: block;
	.metric {
		font-weight: 800;
		font-size: 48px;
	}
}

.updates {
	a {
		color: #333333;
		display: block;
	}
	a:hover {
		color: #333333;
		text-decoration: none;
	}
	a:visited {
		color: #333333;
		text-decoration: none;
	}
	.milestone {
	    display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        height: 84px;
        .status {
            width: 65%;
            flex-grow: 1;
            .update {
                margin-bottom: 5px;
            }
            .bold {
                font-weight: 600;
            }
            .timestamp {
                font-size: 11px;
                color: #bbb;
            }
        }
    	.actions {
    	    flex-grow: 1;
    	    width: auto;
    	    text-align: center;
    	    margin-left: 10px;
    	    a {
        	    color: #aaa;
        	    display: inline;
        	}
        	.gif-icon {
        	    padding-right: 15px;
        	    font-size: 30px;
        	    border-right: 1px solid #EEE;
        	}
        	.smile-icon {
        	    padding-left: 15px;
        	}
    	}
	}
	.new-milestone {
		border: 1px solid $primary-color;
	}
}



